<div class="container questionnaire">
  <div class="step-card bg-white">
    <div class="wrapper">
      <h2>{{ title }}</h2>
    </div>
    <div class="form-wrapper">
      <router-outlet hidden></router-outlet>
      <div class="btn-group">
        <a [routerLink]="getStep(false)" class="btn secondary">Go back</a>
        <input
          *ngIf="!isLastStep"
          [disabled]="!isCurrentStepValid"
          [routerLink]="getStep(true)"
          type="submit"
          value="Next Step"
          class="btn"
          [class.disabled]="!isCurrentStepValid"
        />
        <input
          *ngIf="isLastStep"
          [disabled]="!isCurrentStepValid || !isFormValid"
          [routerLink]="getStep(true)"
          type="submit"
          value="Submit results"
          class="btn"
          [class.disabled]="!isCurrentStepValid"
        />
      </div>
    </div>
    <div class="shape-bevel top-left bg-primary"></div>
    <div class="shape-bevel top-right bg-primary"></div>
    <div class="shape-bevel bot-left bg-primary"></div>
    <div class="shape-bevel bot-right bg-primary"></div>
  </div>
</div>
