@use "variables";

.input-wrapper {
  display: flex;
  justify-content: center;
  div {
    width: 50%;
    display: flex;
    font-family: variables.$font-primary;
    align-items: center;
    .day {
      flex: 2;
    }
    .month {
      flex: 3;
    }
    .year {
      flex: 4;
    }
  }
  input {
    width: 0;
    text-align: center;
    color: variables.$black;
    font-family: variables.$font-primary, sans-serif;
    font-size: 1rem;
    transition: border-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: none;
    background: transparent;
    outline: none;
    &:hover,
    &:focus {
      border-color: variables.$primary;
    }

    &::-ms-input-placeholder {
      color: variables.$mid-gray;
    }

    &::placeholder {
      color: variables.$mid-gray;
    }
  }
}
