<div class="input-container">
  <div class="input-group" (click)="focusOnInput($event)">
    <label for="date" class="input-label"
      ><fa-icon class="fa-2x" [icon]="faCalendarDays"></fa-icon
    ></label>
    <div class="input-wrapper input">
      <div [formGroup]="dateOfBirthGroup">
        <input class="day" type="text" formControlName="day" placeholder="DD" />
        /
        <input
          class="month"
          type="text"
          formControlName="month"
          placeholder="MM"
        />
        /
        <input
          #year
          class="year"
          type="text"
          formControlName="year"
          placeholder="YYYY"
        />
      </div>
    </div>
  </div>

  <p *ngIf="dateOfBirthGroup.hasError('invalidDate')" class="notice error">
    Provided date is not valid
  </p>
  <p
    *ngIf="getControl('day').touched && getControl('day').hasError('required')"
    class="notice error"
  >
    Please enter day in DD format
  </p>
  <p
    *ngIf="
      getControl('month').touched && getControl('month').hasError('required')
    "
    class="notice error"
  >
    Please enter month in MM format
  </p>
  <p
    *ngIf="
      getControl('year').touched && getControl('year').hasError('required')
    "
    class="notice error"
  >
    Please enter year in YYYY format
  </p>
  <p class="notice">
    Note: you must be over 18 years old in order to continue with out website
  </p>
</div>
