<div class="page-wrapper extend-vertically" [class.red]="isQuestionnaireRoute">
  <div class="navbar bg-white">
    <div class="container">
      <div class="nav-content">
        <div class="nav-layout">
          <a
            routerLink="/"
            class="logo"
            [ngClass]="isQuestionnaireRoute ? 'text-secondary' : 'text-primary'"
            >Fumers Club</a
          >
          <div class="nav-menu">
            <a
              href="https://github.com/Juris-coder"
              target="_blank"
              class="nav-link"
              >Creator&#x27;s Github</a
            >
            <a
              href="https://www.linkedin.com/in/yury-krylovich/"
              target="_blank"
              class="nav-link"
              >Creator&#x27;s LinkedIn</a
            >
            <a href="mailto:yury.krylovich@seznam.cz" class="nav-link"
              >Creator&#x27;s Email</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
