<div class="item-selection-container">
  <div class="buttons-container">
    @for (item of items; track $index) {
      <div
        class="item-button"
        [class.selected]="selected === item.name"
        (click)="selectedChange.emit(item.name)"
      >
        <div
          class="item-image-wrapper center-content"
          [class.padding]="item.url.endsWith('.svg')"
        >
          @if (item.url.endsWith(".svg")) {
            <svg-icon [src]="item.url" svgClass="item" />
          } @else {
            <img [src]="item.url" alt="" />
          }
        </div>
        <p class="item-name" [class.bg-primary]="selected === item.name">
          {{ item.name }}
        </p>
      </div>
    }
  </div>

  <app-checkbox
    [title]="title"
    [selected]="selected"
    (selectedChange)="selectedChange.emit($event)"
  />
</div>
