<div class="input-container">
  @if (questionnaireData$ | async; as data) {
    <div class="input-group">
      <label for="name" class="input-label">Name</label>
      <input
        type="text"
        class="input"
        maxlength="256"
        name="name"
        placeholder="Winston Churchill"
        [value]="data.name"
        (change)="updatePropValue($event, 'name')"
      />
    </div>
    <div class="input-group">
      <label for="email" class="input-label">Email</label>
      <input
        type="email"
        class="input"
        maxlength="256"
        name="email"
        placeholder="hey@churchill.com"
        [value]="data.email"
        (change)="updatePropValue($event, 'email')"
      />
    </div>
  }
</div>
