<div class="input-container">
  <div class="input-group">
    <label for="name" class="input-label">Name</label
    ><input
      type="text"
      class="input"
      maxlength="256"
      name="name"
      placeholder="Winston Churchill"
    />
  </div>
  <div class="input-group">
    <label for="email" class="input-label">Email</label
    ><input
      type="email"
      class="input"
      maxlength="256"
      name="email"
      placeholder="hey@churchill.com"
    />
  </div>
  <div class="notice">
    All information filled out in this form will not be proceeded in any way.
    This contact form is used as a validation step in a personal project for
    portfolio.
  </div>
</div>
