@font-face {
  font-family: "Antonio";
  src: url("assets/fonts/Antonio.ttf");
}

@font-face {
  font-family: "RobotoSlab";
  src: url("assets/fonts/RobotoSlab.ttf");
}

$font-primary: "Antonio", sans-serif;
$font-secondary: "RobotoSlab", sans-serif;
$text-spacing: -0.01125rem;

// Colors
$white: #e0ddd4;
$primary: #c13d3d;
$light-gray: #b6a79b;
$black: #1c1c1f;
$mid-gray: #70665e;

* {
  font-family: $font-secondary;
}

body {
  font-size: 1.1vw;
  height: 100vh;
  display: flex;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $white;
}

.bg-white {
  background-color: $white;
  color: $primary;
}

.bg-primary {
  background-color: $primary;
  color: $white;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-primary, sans-serif;
  font-weight: 700;
}

h1 {
  text-transform: uppercase;
  font-size: 7em;
  line-height: 1;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.1;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

p {
  margin: 0;
}

label {
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: $font-primary, sans-serif;
  font-size: 0.75rem;
  line-height: 1;
  display: block;
}

// Main
.section {
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
}

.v-pad {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.layout {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1.125fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: grid;
  .hero-img {
    width: 100%;
  }
}

.hero-content {
  width: 100%;
  max-width: 45rem;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  display: flex;
}

.subtitle-content {
  width: 100%;
  max-width: 35em;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  display: flex;
}

.subtitle-wrapper {
  border-top: 2px solid $primary;
  border-bottom: 1px none $primary;
  padding-top: 1rem;
}

.subtitle {
  color: $mid-gray;
  font-size: 1.125rem;
  &.white {
    color: $white;
  }
}
//

.questionnaire,
.profile {
  .shape-bevel {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    position: absolute;
    &.top-left {
      top: -1.5rem;
      left: -1.5rem;
    }

    &.top-right {
      top: -1.5rem;
      right: -1.5rem;
    }

    &.bot-left {
      bottom: -1.5rem;
      left: -1.5rem;
    }

    &.bot-right {
      bottom: -1.5rem;
      right: -1.5rem;
    }
  }
}

.step-card {
  width: 100%;
  max-width: 35rem;
  gap: 3rem;
  flex-direction: column;
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
  &.md {
    gap: 1.5rem;
  }
}

.wrapper {
  min-width: 16rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-top: 2px solid;
  border-bottom: 2px solid;
  &.primary {
    border-color: $primary;
  }
  &.white {
    border-color: $white;
  }
  &.md {
    width: 20rem;
  }
}

.form-wrapper {
  min-width: 16rem;
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  text-align: center;
  flex-direction: column;
  &.md {
    width: 20rem;
  }
}

.container {
  width: 100%;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  cursor: pointer;
  background-color: $primary;
  border: 2px solid $primary;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem 0.75rem;
  font-family: $font-primary, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    border-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  box-shadow: inset 0 0 rgba(0, 0, 0, 0);
  &:hover {
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.15);
  }
  &.disabled {
    border: 2px solid #70665e;
    color: #70665e;
    background-color: transparent;
  }
  &.secondary {
    background-color: $light-gray;
    border: 2px solid $light-gray;
  }
}

.btn-group {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  justify-content: flex-start;
  display: flex;
}

.extend-vertically {
  display: flex;
  flex-direction: column;
  flex: 1;
}
