@font-face {
  font-family: "Antonio";
  src: url("assets/fonts/Antonio.ttf");
}

@font-face {
  font-family: "RobotoSlab";
  src: url("assets/fonts/RobotoSlab.ttf");
}

$font-primary: "Antonio", sans-serif;
$font-secondary: "RobotoSlab", sans-serif;
$text-spacing: -0.01125rem;

// Colors
$white: #e0ddd4;
$primary: #c13d3d;
$white: #e0ddd4;
$light-gray: #b6a79b;
$black: #1c1c1f;
$mid-gray: #70665e;

* {
  font-family: $font-secondary;
}

body {
  font-size: 1.1vw;
  height: 100vh;
  display: flex;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $white;
}

.bg-white {
  background-color: $white;
  color: $primary;
}

.bg-primary {
  background-color: $primary;
  color: $white;
}

h1 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-primary, sans-serif;
  font-size: 7em;
  font-weight: 700;
  line-height: 1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-primary, sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.1;
}

p {
  margin: 0;
}

label {
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: $font-primary, sans-serif;
  font-size: 0.75rem;
  line-height: 1;
  display: block;
}

.container {
  width: 100%;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  cursor: pointer;
  background-color: $primary;
  border: 2px solid $primary;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem 0.75rem;
  font-family: $font-primary, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
    border-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  box-shadow: inset 0 0 rgba(0, 0, 0, 0);
  &:hover {
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.15);
  }
  &.disabled {
    border: 2px solid #70665e;
    color: #70665e;
    background-color: transparent;
  }
  &.secondary {
    background-color: $light-gray;
    border: 2px solid $light-gray;
  }
}

.btn-group {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  justify-content: flex-start;
  display: flex;
}

.extend-vertically {
  display: flex;
  flex-direction: column;
  flex: 1;
}
