@font-face {
  font-family: 'Antonio';
  src: url('assets/fonts/Antonio.ttf');
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('assets/fonts/RobotoSlab.ttf');
}

$font-primary: 'Antonio', sans-serif;
$font-secondary: 'RobotoSlab', sans-serif;
