$font-primary: "Antonio", sans-serif;
$font-secondary: "RobotoSlab", sans-serif;
$text-spacing: -0.01125rem;

// Colors
$white: #e0ddd4;
$primary: #bd4032;
$light-gray: #b6a79b;
$black: #1c1c1f;
$mid-gray: #70665e;
